
  @font-face {
    font-family: "AUTHENTIC Sans";
    src: url("./fonts/AUTHENTICSans-60.woff2");
    font-weight: 200;
  }

  @font-face {
    font-family: "AUTHENTIC Sans";
    src: url("./fonts/AUTHENTICSans-90.woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "AUTHENTIC Sans";
    src: url("./fonts/AUTHENTICSans-130.woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "AUTHENTIC Sans";
    src: url("./fonts/AUTHENTICSans-150.woff2");
    font-weight: 800;
  }