@import "./fonts.css";

// variables
$font-stack: "AUTHENTIC Sans", Helvetica, Arial, sans-serif;
$font-size-sm: 0.6em;
$font-size-2: 1.33em;
$font-size-3: 1.6em;
$font-size-4: 2.8em;
$font-size-5: 3.4em;

$letter-spacing-tight: -0.04em;
$line-height-tight: 100%;
$line-height-body: 140%;

$animation-transition: 250ms;
$animation-curve: ease-out;

//dark mode
$color-black: #060504;
$color-white: #EFEDEB;
$color-gray-dark: #201E1D;
$color-gray: #504B49;
$color-primary: #EA9325;

:root {
  --fontsizebase: 0.95vw;
  --color-bg: #{$color-white};
  --color-text: #{$color-black};
  --color-thumb: #{$color-gray-dark};
  --color-button-background: #{$color-gray};
}


// responsivity

@media (max-width: 1279px) {
  :root {
    --fontsizebase: 1.5vw;
  }
}

@media (max-width: 959px) {
  :root {
    --fontsizebase: 2vw;
  }
}

@media (max-width: 599px) {
  :root {
    --fontsizebase: 3vw;
  }
}

.dark {
  --color-bg: #{$color-black};
  --color-text: #{$color-white};
  --color-thumb: #{$color-gray-dark};
  --color-button-background: #{$color-gray-dark};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  // max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
  // @media (max-width: 1440px) {
  //   padding: 0 32px;
  // }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font-stack;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--fontsizebase);
  overflow-x: hidden;
}

@media
 (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset .25s ease;
    outline-offset: 5px;
    outline-color: $color-primary;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
}

p { 
  font-size: $font-size-2;
  line-height: $line-height-body;
}

h1 {
  font-size: $font-size-5;
  font-weight: 400;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-tight;
}

h2 {
  font-size: $font-size-4;
  font-weight: 400;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-tight;
}

p a {
  border-bottom: 1px solid var(--color-text);
}
p a:hover {
  border-bottom: 2px solid var(--color-text);
}

header {
  padding: 32px 0;

  .logo a:hover {
      opacity: .75;
    }

  .logo a:active {
      opacity: .5;
      transition: all $animation-transition $animation-curve;
    }

  nav {
    list-style-type: none;
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  .header-alignment {
  display: flex;
  }

  @media (max-width: 959px) {
    .header-alignment {
      align-items: center;
    }
  }

  .time {
    text-transform: uppercase;
  }
  .timeteste {
    text-transform: uppercase;
  }
}

a.button {
  padding: .5em .6em .3em .6em;
  color: var(--color-text);
  border-radius: 10000px;
  border: 1px solid var(--color-text);
}

a.button:hover {
  background: var(--color-text);
  color: 
  var(--color-bg);
}

a.button:active, .lightswitch:active {
  transform: scale(0.9);
  transition: all $animation-transition $animation-curve;
}

.lightswitch {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  display: flex;
  align-content: center;
  border-radius: 10000px;
  padding: .3em;
  cursor: pointer;
}

.lightswitch:hover {
  background: var(--color-text);
  color: var(--color-bg);
}

.lightswitch input[type="checkbox"] {
  display: none;
}

.circle {
  background: #DC3822;
  border-radius: 10000px;
  width: 25em;
  height: 25em;
  content: "";
  position: absolute;
  top: 10em;
  left: -10em;
  z-index: -5;
}

.square1 {
  background: #1379BC;
  width: 25em;
  height: 25em;
  content: "";
  position: absolute;
  top: 0;
  right: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EA9325;
  padding: 3em;
}

.square2 {
  background: #EA9325;
  width: 25em;
  height: 25em;
  content: "";
  position: absolute;
  top: 25em;
  right: 24.99em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-bg);
  padding: 3em;
}

.childcircle {
  border: 12px solid var(--color-bg);
  content: "";
  width: 80%;
  height: 80%;
  border-radius: 100000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square3 {
  background: #148F74;
  width: 25em;
  height: 25em;
  content: "";
  position: absolute;
  top: 25em;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:959px) {
  .square3 {
    bottom: 0;
  }

  .square2 {
    bottom: 0;
  }
}

.childsquare3 {
  background: #EA9325;
  content: "";
  width: 50%;
  height: 50%;
  transform: rotate(45deg);
}

.hero {
  color: var(--color-text);
  text-transform: uppercase;
  margin-top: 8vw;
}

.hero h1:last-child{
  line-height: 30%;
}

.hero-picture {
  margin-top: 50em;
}

.photo-description {
  text-transform: uppercase;
  font-size: $font-size-sm;
}

.hero-description {
  margin-top: 15em;
  p {
    font-size: $font-size-3;
    line-height: $line-height-body;
    margin-bottom: 24px;
  }
  p:first-child {
    text-indent: 40px;
  }
}

.section-wrapper {
  height: 350px;
  display: flex;
  margin-top: -660px;
  z-index: 10;
}

.section-title {
  text-transform: uppercase;
  color: var(--color-text);
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 48px;
  top: 0px;
  bottom: 0px;
  align-self: flex-end;
  display: flex;
}

.section-title:after {
  content: '↓';
  margin-left: 4px;
}

.work-loop {
  margin-top: -30em;
}

@media (max-width: 959px) {
  .work-loop {
    margin-top: -40em;
  }
}

@media (max-width: 749px) {
  .work-loop {
    margin-top: -50em;
  }
}

@media (max-width: 649px) {
  .work-loop {
    margin-top: -50em;
  }
}

@media (max-width: 599px) {
  .work-loop {
    margin-top: -40em;
  }
}

.work-title {
  margin-bottom: 24px;
  display: flex;
  text-transform: uppercase;
  color: var(--color-text);
}

.work-title:after {
  content: '';
  margin-left: 4px;
}

.work-title-soon {
  margin-bottom: 24px;
  display: flex;
  text-transform: uppercase;
  color: var(--color-text);
}

.work-title-soon:after {
  content: 'soon';
  font-size: $font-size-sm;
  padding: 5px 4px 0px 4px;
  border-radius: 10000px;
  border: 1px solid gray;
  margin-left: 6px;
  margin-top: -3px;
}

.work-thumb {
  height: 45em;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  background: currentColor;
}

.disabled {
  cursor: not-allowed;
}

.work-thumb img {
  
}

.work-thumb-color a {
  color: currentColor !important;
}

.work-thumb-margin {
  margin: 15em 0;
}

@media (max-width: 959px) {
  .work-thumb-margin {
    margin: 10em 0;
  }
}

@media (max-width: 599px) {
  .work-thumb-margin {
    margin: 5em 0;
  }
}

.post-sidebar-wrapper {
  height: 99.65%;
  z-index: 10;
}

.post-sidebar-content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 80vh;
  top: 40px;
  bottom: 0px;
}

.post-cta {
  margin-top: 2em;
  padding: 24px 24px;
  background: var(--color-text);
  color: var(--color-bg);
  width: 100%;
}

.post-cta::after {
  content: '→';
  position: absolute;
  right: 24px;
}

.post-cta:hover {
  opacity: 0.9;
}

.post-cta:active {
  transform: scale(0.97);
  transition: all $animation-transition $animation-curve;
}

@media (max-height: 1000px) {
  .post-sidebar-content {
    height: 75vh !important;
  }
}

@media (max-height: 600px) {
  .post-sidebar-content {
    height: 70vh !important;
  }
}

.post-content {
  h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8px;
  }

  hr {
    border: 1px solid var(--color-text);
    margin-top: 24px;
  }
}

.post-content p {
  margin-bottom: 24px;
}

.post-content img {
}

.post-final-image {
  background: var(--color-text);
}

.post-content .margin {
  margin: 80px 0;
}

.post-content ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    counter-increment: step-counter;
    display: flex;
    margin-bottom: 8px;
  }
  li::before {
    content: counter(step-counter);
    border: 1px solid var(--color-text);
    margin-right: 16px;
    color: var(--color-text);
    border-radius: 1000px;
    height: 16px;
    min-width: 16px;
    text-align: center;
  }
}

.post-photo {
  height: 800px;
  width: 100%;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.post-image-bg {
  background: red;
}

.post-end-photo {
  height: 500px;
  width: 100%;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.post-title {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.post-description {
  margin-bottom: 40px;
  line-height: $line-height-body;
}

.post-date {
  text-transform: uppercase;
  font-size: $font-size-3;
}

.footer-description {
  margin-bottom: 10em;
  font-size: $font-size-2;

  p {
    margin-bottom: 2em;
  }

  p:first-child {
    text-indent: 40px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

footer {
  margin-top: 5em;
  padding-bottom: 2em;
  ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
  }

  li {
    margin-bottom: 8px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.about-description {
  margin-top: 15em;
  p {
    font-size: $font-size-3;
    line-height: $line-height-body;
    margin-bottom: 24px;
  }
  p:first-child {
    text-indent: 40px;
  }
}

.skills-list {
  ul {
    list-style-type: none;
    display: flex;
    background: red;
    align-items: center;
  }

  li {
    font-size: $font-size-2;
  }

  li:after {
    content: '✺';
  }

  li:last-child:after {
    content: '';
  }
}

.footer-rights {
  text-transform: uppercase;
}